body{
    font-family: 'Open Sans', sans-serif;
}

/* nav style start */
nav{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
}
.nav-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
    margin-left: 80px;
}
.nav-logo{
    width: 80px;
    height: 40px;
    margin-right: 20px;
}
.pink{
    color: #FF42A5;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
nav ul{
    display: flex;
    margin-right: 80px;
}

nav li{
    display: flex;
    list-style-type: none;
    margin-right: 30px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.navbar-list{
    margin-top: 20px;
}
.social-content{
    width: 220px;
    height: 40px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    padding: 10px;
    margin-top: 0px;
}
nav li img{
    margin-left: 15px;
    width: 30px;
    height: 25px;
    cursor: pointer;
}
/* nav style end */

/* banner style start */

.banner-container{
    width: 100%;
    /* height: 600px; */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    margin-bottom: 50px;
}
.banner-content{
    margin-left: 80px;
}
.banner-title{
    color: #0B0223;
    font-size: 3.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.banner-bio{
    font-size: 5.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #8758F1;
    margin: 0;
}
.banner-description{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 20px;
}
.btn-primary-1{
    background-color: #FF42A5;
    border-radius: 45px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
    margin-right: 20px;
}
.btn-primary-2{
    border-radius: 45px;
    background: #4EC5F7;
    padding: 15px 30px;
    border: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-profile{
    margin-right: 80px;
}
.banner-profile img{
    width: 600px;
    height: 100%;
}
/* banner style end */

/* main style start */
main{
    margin: 50px auto;
}

/* team gamers style start */
    .gamers-team-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px 80px auto 20px;
    }
    .gamers-team-profile img{
        width: 800px;
        height: 489px;
    }
    .team-gamers-content{
        text-align: right;
    }
    .team-gamers-title{
        font-size: 3rem;
        font-weight: 700;
        color: #8758F1;
    }
    .team-gamers-desc{
        width: 520px;
        color: #534C64;
        font-size: 1.1rem;
        line-height: 30px;
    }
    .unleash{
        color: #534C64;
        font-size: 32px;
        font-weight: 700;
        line-height: 45px;
    }
/* team gamers style end */

/* games thumbnail style end */
.games-thumbnail-pera{
    text-align: center;
}
.games-thumbnail-pera .games-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.purple{
    color: #8758F1;
}
.games-desc{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.games-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 80px 0px 100px;
    gap: 30px;
}
/* .games-content-2{
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}
.icon-background{
    position: relative;
    background-image: url('icon/play.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
/* .games-content .icon-background img{
    width: 48px;
    height: 48px;
} */

.games-content img{
    width: 270px;
    height: 300px;
}

.games-img-desc-3{
    width: 250px;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
}

.games-img-desc{
    width: 280px;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
}
/* games thumbnail style end */

/* gamers sec style start */

    .gamers-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 70px 0px;
    }

    .gamer-logo-1{
        position: relative;
    }
    .gamer-logo-1 img{
        width: 450px;
        height: 450px;
    }

    .gamer-logo-2{
        position: absolute;
        left: 70%;
        top: 60%;
    }
    .gamer-logo-2 img{
        width: 250px;
        height: 250px;
    }

    .gamers-content{

    }
    .gamers-content-title{
        width: 426px;
        color: #0B0223;
        font-size: 3rem;
        font-weight: 700;
        line-height: 60px;
    }
    
    .linear{
        color: #F94992;
    }
    .gamers-content-desc{
        width: 483px;
        color: #534C64;
        font-size: 1.1rem;
        line-height: 30px;
    }
/* gamers sec style end */


/* games info style start */
.games-details{
        width: 100%;
        height: 350px;
        margin-top: 200px;
}
.games-info-container-1{
        display: flex;
        justify-content: center;
        align-items: center;
}
.games-info-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}


.games-info-content-2{
    width: 200px;
    height: 70px;
    border-radius: 60px;
    background: #FFF;
    border: 1px solid #FF42A5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.games-info-content-2 img{
    margin-right: 10px;
}
.games-details > h4{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.games-info-content img{
    margin-right: 10px;
}

.games-info-container-3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
}


/* games info style end */

/* main style end */


/* footer sec style start */

footer{
    width: 100%;
    height: 500px;
    background: #0B0223;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.games-title{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    margin-left: 10px;
}
.footer-content-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.footer-content-title p{
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
}
.social-media-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-profile img {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

.settings-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.settings-info p{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    margin-right: 30px;
}
.footer-desc{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-weight: 500;
}

/* footer sec style end */